<button
  type={{@type}}
  {{on 'click' this.handleClick}}
  class='control-{{this.size}} {{this.class}}'
  disabled={{this.disabled}}
  title={{if (eq this.size 'xx-small') @text}}
  ...attributes
>
  {{#if @icon}}
    <FaIcon @icon={{@icon}} @prefix={{this.prefix}} />
  {{/if}}
  {{#if (not-eq this.size 'xx-small')}}
    <p>{{@text}}</p>
  {{/if}}
</button>