<button
  type={{@type}}
  {{on 'click' this.handleClick}}
  class='control-{{this.size}} {{this.class}}'
  disabled={{this.disabled}}
>
  <FaIcon @icon={{@icon}} @prefix={{this.prefix}} />
  {{#if @text}}
    <p>{{@text}}</p>
  {{/if}}
</button>