<Portal @target='sidebar-left'>
  <Application::Sidebar::Left::Generator />
</Portal>

<Common::Container @size='small'>
  <form>
    <Common::Control::Toggle
      @label={{t 'generator.preset.show-tutorials'}}
      @state={{this.localStorage.tutorialsEnabled}}
      @onChange={{this.toggleTutorials}}
    />
    <Common::Misc::TutorialBox
      @title={{t 'generator.preset.tutorial-01.title'}}
    >
      {{t 'generator.preset.tutorial-01.text' htmlSafe=true}}
    </Common::Misc::TutorialBox>
  </form>
</Common::Container>