<label class='input-container'>
  <p class='input-label'>{{@label}}
    {{#if @required}}
      <FaIcon
        class='input-required-marker'
        @icon='star-of-life'
        @title={{t 'misc.required-field'}}
      />
    {{/if}}
  </p>
  <input
    type={{this.type}}
    class='input-field hide-invalidity control-{{this.size}}
      text-{{this.align}}'
    value={{this.value}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    required={{@required}}
    pattern={{@pattern}}
    min={{@min}}
    max={{@max}}
    minLength={{@minLength}}
    maxLength={{@maxLength}}
    autocomplete={{@autocomplete}}
    autocapitalize={{@autocapitalize}}
    {{on 'input' this.handleInput}}
    {{on 'change' this.handleChange}}
  />
</label>