<div class='toggle'>
  <label
    class='toggle-label'
    aria-hidden='true'
    for='{{this.componentId}}-input'
  ><p>{{@label}}</p>
    {{#if (and @infoTitle @infoText)}}
      <Features::Tooltip::Button
        @title={{@infoTitle}}
        @text={{@infoText}}
        @article={{@infoArticle}}
      />
    {{/if}}</label>
  <label class='toggle-switch' aria-label={{@label}}>
    <input
      id='{{this.componentId}}-input'
      type='checkbox'
      checked={{this.state}}
      {{on 'change' this.handleChange}}
      disabled={{this.disabled}}
    />
    <span class='toggle-slider'></span>
  </label>
</div>