<div class='dropdown {{unless @label "no-label"}}'>
  <label class='dropdown-label' for='{{this.componentId}}-button'><p
    >{{@label}}</p>
    {{#if (and @infoTitle @infoText)}}
      <Features::Tooltip::Button
        @title={{@infoTitle}}
        @text={{@infoText}}
        @article={{@infoArticle}}
      />
    {{/if}}</label>
  <div class='dropdown-inner control-{{this.size}}'>
    {{#if @loop}}
      <Common::Control::Button
        class='dropdown-loop-button dropdown-loop-button-left'
        @size='xx-small'
        @icon='chevron-left'
        @text={{t 'misc.back'}}
        {{on 'click' this.handleBackClick}}
      />
    {{/if}}
    <button
      id='{{this.componentId}}-button'
      class='dropdown-toggle {{if @loop "dropdown-toggle-loop"}}'
      type='button'
      aria-label={{@label}}
      aria-haspopup='true'
      aria-expanded='false'
      {{on 'click' this.toggle}}
      {{on 'blur' this.handleBlur}}
    >
      <p class='dropdown-toggle-caption'>{{this.caption}}</p>
      <FaIcon class='dropdown-toggle-icon' @icon='chevron-down' />
    </button>
    <div class='dropdown-menu {{if this.expanded "dropdown-menu-visible"}}'>
      {{#each this.options as |option|}}
        <button
          class='dropdown-item
            {{if (eq option this.selectedOption) "dropdown-item-selected"}}'
          type='button'
          {{on 'click' (fn this.handleItemClick option)}}
        >{{option.label}}</button>
      {{/each}}
    </div>
    {{#if @loop}}
      <Common::Control::Button
        class='dropdown-loop-button dropdown-loop-button-right'
        @size='xx-small'
        @icon='chevron-right'
        @text={{t 'misc.forward'}}
        {{on 'click' this.handleForwardClick}}
      />
    {{/if}}
  </div>
</div>