<div
  class='container container-{{this.size}}
    align-items-{{this.align}}
    {{if @transparent "bg-transparent"}}'
>
  {{#if @title}}
    <h1 class='container-title'>{{@title}}</h1>
  {{/if}}
  {{yield}}
</div>