{{page-title 'New Horizons'}}

<Application::Header
  @toggleLeftSidebar={{this.toggleLeftSidebar}}
  @leftSidebarExpanded={{this.leftSidebarExpanded}}
  @toggleRightSidebar={{this.toggleRightSidebar}}
  @rightSidebarExpanded={{this.rightSidebarExpanded}}
/>

<Application::Sidebar::Left @expanded={{this.expanded}} />
<Application::Sidebar::Right @expanded={{this.expanded}} />

<aside id='tooltip' tabindex='-1' role='tooltip' aria-hidden='true'>
  {{#if this.activeTooltip}}
    <Application::Tooltip
      @title={{this.activeTooltip.title}}
      @text={{this.activeTooltip.text}}
      @article={{this.activeTooltip.article}}
    />
  {{/if}}
</aside>

<aside
  id='modal'
  class='modal fade'
  tabindex='-1'
  role='dialog'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    {{#if this.activeModalType}}
      {{component
        (concat 'modal/' this.activeModalType)
        options=this.activeModalOptions
      }}
    {{/if}}
  </div>
</aside>

<div id='app-content'>
  {{outlet}}
</div>