{{page-title 'New Horizons'}}

<Application::Header
  @toggleLeftSidebar={{this.toggleLeftSidebar}}
  @leftSidebarExpanded={{this.leftSidebarExpanded}}
  @toggleRightSidebar={{this.toggleRightSidebar}}
  @rightSidebarExpanded={{this.rightSidebarExpanded}}
/>

<Application::Sidebar::Left @expanded={{this.expanded}} />
<Application::Sidebar::Right @expanded={{this.expanded}} />

<div id='app-content'>
  {{outlet}}
</div>