{{page-title 'New Horizons'}}

<Application::Header
  @toggleLeftSidebar={{this.toggleLeftSidebar}}
  @leftSidebarExpanded={{this.leftSidebarExpanded}}
  @toggleRightSidebar={{this.toggleRightSidebar}}
  @rightSidebarExpanded={{this.rightSidebarExpanded}}
/>

<Application::Sidebar::Left @expanded={{this.expanded}} />
<Application::Sidebar::Right @expanded={{this.expanded}} />

<aside id='tooltip' tabindex='-1' role='tooltip' aria-hidden='true'>
  {{#if this.activeTooltip}}
    <Application::Tooltip
      @title={{this.activeTooltip.title}}
      @text={{this.activeTooltip.text}}
      @article={{this.activeTooltip.article}}
    />
  {{/if}}
</aside>

<dialog id='modal' {{on 'cancel' this.handleModalCancel}}>
  {{#if this.activeModalType}}
    {{component
      (concat 'modal/' this.activeModalType)
      options=this.activeModalOptions
    }}
  {{/if}}
</dialog>

<div id='app-content'>
  {{outlet}}
</div>